html{
    scroll-behavior: smooth;
    scroll-padding-top:25vh;
}
.landing-page {
    min-height:100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #14273f; */
    background-color: #ffffff;
}
.section{
    display:flex;
    flex-direction: row;
    height: 65vh;
    overflow:hidden;
    padding-bottom: 8em;
}

#section-1{
    position:relative;
    /* background-color: #0e2744; */
    /* background-color: #6983a0; */
    background-image: linear-gradient(to bottom, #466fa0, #022f63);
    color:aliceblue;
    display:flex;
    justify-content:space-around;
    align-items: center;
}


p{
    font-size:2.5em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

#scorelens-name{
    color:rgb(255, 208, 0);
    font-size: 2.5em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
}

.section-1-left-title{
    display:flex;
    flex-direction: row;
    gap:1em;
}

.graph{
    max-width: 30em;
}

.section-1-right{
    position:absolute;
    top:300px;
    right:350px;
}


#graph1{
    position:absolute;
    top:-50px;
    left:-500px;
}
#graph2{
    position:absolute;
    top:100px;
    left:-200px;    
}

#section-1-left-paragraph{
    font-size: 1.5em;
    max-width: 20em;
}

.section-1-left{
    position:absolute;
    left:10%;
    top: 20%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#features-page{
    /* position:relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2em;
    /* background-color: #0e2744; */
    background-color: #022f63;
}

.page-title{
    font-size: 3em;
    /* font-weight: bold; */
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#0e2744;
}

.features-container{
    position: relative;
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    /* padding:5em; */
    /* gap:2em; */
}

.feature{
    height:100%;
    width:15%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding-right:2em;
    padding-left:1em;
    box-shadow: 0 0 10px rgb(45, 45, 45) ;
    z-index: 1;
    margin-right:20px;
    font-size:30px;
    transition: ease-in-out 0.2s;
}

.feature:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.feature-cirlce{
    height:2em;
    width:2em;
    
}


/* .feature-bar{
    position: fixed;
    height:30%;
    width:100%;
    background-color: #ffee00;
    z-index:-1;
} */

.feature-bar {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    height: 45%;
    width: 100%;
    background-color: rgb(255, 208, 0);
}

#features-page .page-title{
    color:white;
    margin:1em;
}

#analytics-page{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5em;
}

.analytics-box{
    width: 20vw;
    height: 25vh;
    background-color: #0e2744;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.analytics-image{
    position:absolute;
    width:100%;
    height:100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;

}
.analytics-box:hover .analytics-image {
    opacity: 0.1;
}
.analytics-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap:2em;
    row-gap: 2em;
}

#about-page{
    display: flex;
    padding:50px;
    /* background-color: #0e2744; */
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    /* margin:0; */
}

.section-left, .section-right {
    flex:1;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.section-left{
    margin-left: 100px;
}

.section-right{
    margin-right: 300px;
}

.about-para{
    font-size: 1.2em;
    max-width: 80%;
    text-align: left;
    color:black;
    padding:5em;
    font-size: 20px;
}

.aboutus-img{
    /* width:500px;
    height:500px; */
    margin-left:0;
}

#contact-page{
    max-height: 80vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2em;
}
#contact-para{
    padding:3em;
    font-size: 20px;
}

.contact-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-circle{
    width:400px;
    height:400px;
    border-radius: 50%;
    background-color: rgb(158, 156, 156);
    margin-left:80px;
}

.contact-element{
    position: relative;
    width: 80%;
    height:80%;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 10px rgb(89, 88, 88);
    border-radius: 8px;
}

.start-button{
    display:flex;
    align-items: center;
    justify-content: center;
    width:10em;
    height:3em;
    border-radius: 1em;
    border:solid 2px rgb(255, 208, 0);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
    box-shadow: 0 0 10px rgb(255, 208, 0);
    transition: transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-top: 1em;
    font-size:1.5em;
}

.start-button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(255, 208, 0); 
    cursor: pointer;
}

.contact-left{
    width:50%;
    padding-top:4em;
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#contact-title{
    font-size:4em;
    color:rgb(61, 61, 61);
}

  